@import '../styles.scss';

.section-container {
    position: sticky;
    width: 100%;
    padding: 0 7px;
    box-sizing: border-box;
    @include simple-flex(flex-start, center, row);
    box-shadow: 0px 0.33000001311302185px 0px 0px #A6A6AA;

    p {
        width: 50%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #00000040;
        padding: 12px 0;
    }
    
    .selected {
        color: $text-color;
        box-shadow: 0px 0.5px 0px 0px #000;
        padding: 12px 0 11.5px;
    }
}

main {
    background-color: rgba(255,255,255,1);
    
    > * {
        box-shadow: 0px 0.33000001311302185px 0px 0px #A6A6AA;
        padding-left: 16px;
        padding-right: 16px;
    }

    .categories {
        font-size: 15px;
        font-weight: 400;
        color: $text-color;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .time-section {

        header {
            font-size: 15px;
            font-weight: 600;
            padding: 13px 0;
        }

        .like-new {
            @include simple-flex(flex-start, center, row);
            padding: 8px 0;
        }
    }
}