@import '../styles.scss';

#toggle {
    display: none;

    &:checked ~ main {
        transform: translateX(-$side-menu-size);
    }

    &:checked ~ .side-menu {
        transform: translateX(-$side-menu-size);
        visibility: visible;

        .toggle-side-menu {
            left: -39px;
        }
    }

}

.side-menu {
    position: fixed;
    top: 0;
    left: calc(50% + 375px/2);
    height: 100%;
    width: $side-menu-size;
    background-color: #fff;
    visibility: hidden;
    box-shadow: -0.5px 0 0 0 $shadow-color;
    z-index: 1;
    transform: translateX(0);

    .toggle {
        position: relative;
        top: 0;
        left: 0;
        
        &-side-menu {
            position: absolute;
            left: -18px;
            top: 12px;
            width: 21px;
            height: 18px;
            visibility: visible;
        }
    }

}

main {
    overflow: hidden;
}

.account-alt {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $background-primary;

    .user {
        @include simple-flex(center, center, row);
        padding: 12px 0;
        
        .lock-icon {
            width: 9px;
            height: 12px;
        }

        .arrow-icon {
            width: 11px;
            height: 6px;
        }

        p {
            padding: 0 6px;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.user-info {
    padding: 0 11px;
    // position: relative;


    .user-stats {
        @include simple-flex(space-between, center, row);
        padding-bottom: 12px; 

        .user-icon {
            @include box-round(86px);
            padding: 4px;
            border: 1px solid $border-color;
        }

        > * {
            @include simple-flex(center, center, column);
        }

        p {
            @include text-format(13px, 400);
        }

        .stats {
            @include text-format(16px, 600);
        }
    }

    .description {
        padding-bottom: 15px;

        p {
            @include text-format(12px, 400);
        }

        .user-name {
            @include text-format(12px, 600);
        }

        .user-link {
            color: $user-link-color;
        }
    }

    .edit {
        width: 100%;
        padding: 6px 0;
        margin-bottom: 16px;
        background-color: #fff;
        border: 1px solid $text-color-faded;
        border-radius: 6px;

        .buttom-text {
            @include text-format(13px, 600);
            text-align: center;
            letter-spacing: -0.1px;
        }
    }

    .stories-container {

        .story-img {
            padding: 3px;
            border: 1px solid $border-color;

            &.new {
                width: 18px;
                height: 18px;
                padding: 23px;
            }
        }
    }
}

.menu-alt {
    position: -webkit-sticky;
    position: sticky;
    top: 42.5px;
    @include simple-flex(flex-start, center, row);
    width: 100%;
    background-color: $background-primary;
    box-shadow: 0 -0.5px 0px 0px $shadow-color;
    margin-top: 0.5px;
    
    .menu-container {
        @include simple-flex(center, center);
        width: 50%;
        padding: 10px 0;
        margin-bottom: 1px;
    
        .menu-icon {
            margin-left: auto;
            margin-right: auto;
        }

        &.selected {
            box-shadow: 0 1px 0px 0px $text-color;
        }
    }
}

.post-imgs {
    @include simple-flex(flex-start, center, row);
    flex-wrap: wrap;

    .post-img {
        margin: 0.5px;
        box-sizing: border-box;
        width: calc(33.33% - 1px);
        height: auto;

        &:nth-child(3n) {
            margin-left: 0;
        }

        &:nth-child(3n+1) {
            margin-right: 0;
        }
    }
}