@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./extends.scss";

*,
p {
  font-family: Arial;
}

body {
  max-width: 375px;
  margin: auto;
  background-color: $background-primary;
  height: 100vw;
  position: relative;
}

.tab-bar {
  @include simple-flex(space-between, center, row);
  width: 100%;
  background-color: $background-secondary;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  border-top: 1px solid #e2e2e2;
  fill-opacity: 0;
  stroke-width: 1.5px;
  stroke: $text-color;

  .action-icon {
    @extend %action-icons;
    width: 22px;
  }
}


.stories-container {
  display: flex;
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
  padding: 9px 0 8px;

  &::-webkit-scrollbar {
    height: 6px;
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $background-secondary;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 5px;
  }

  .story-item {
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .story-img {
      @include box-round(56px);
      background-size: cover;
      border: 2px solid #fff;
    }

    .story-author {
      color: $text-color;
      font-size: 12px;
      font-family: Arial;
      text-align: center;
      margin-top: 5px;
    }
  }

  @media screen and (min-width: 768px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}